    <div class="col-12">                      
      <% if @user == current_user %>
        <h2 class = "inline-h2" >What others think of the items I sold (<%= @reviews.count %>)</h2>
      <% else %>
        <h2 class = "inline-h2">What others think of the items <%= @user.first_name %> sold (<%= @reviews.count %>)</h2>
      <% end %>
      <button type="button" class="collapsible"><i class="fas fa-eye"></i></button>
      <div class="card-deck active-card">
        <% if @reviews.present? %>
          <% @reviews.each do |review|%>
            <%= render './shared/review_card', review: review %>
          <% end %>
        <% else %>
            <% if @user == current_user %>
              <p><em>You do not have any reviews yet.</em></p>
            <% else %>
              <p><em><%= @user.first_name %> has no reviews yet.</em></p>
            <% end %>
        <% end %>
      </div>
    </div>