    <div class="col-12">
      <% if @user == current_user %>
        <h2 class = "inline-h2">My Listings (<%= @user.listings.where(purchased_status: false).count %>)</h2>
      <% else %>
        <h2 class = "inline-h2"><%= @user.first_name %>'s Listings (<%= @user.listings.where("purchased_status = false").count%>)</h2>
      <% end %>
      <% if user_signed_in? && @user == current_user %>
          <%= link_to '<i class="fas fa-plus"></i>'.html_safe, new_listing_path, style: "font-size:28px; margin: 0 4px 0 12px;" %>
      <% end %>
      <button type="button" class="collapsible"><i class="fas fa-eye"></i></button>
      <div class="card-deck active-card mb-4">
        <% @user.listings.each do |listing| %>
          <% unless listing.purchased_status %>
            <%= render './shared/card', listing: listing %>
          <% end %>
        <% end %>
      </div>
    </div>
