<div class="container">

  <div class="row mt-5 d-flex">

    <div class="col-sm-12 col-md-4">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, :width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"fill", class:'avatar-profile'%>
      <% else %>
        <i class="fas fa-user-circle fa-2x" style="font-size: 200px"></i>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4">
      <% if @user == current_user  %>
        <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
      <% else %>
        <h1><%= @user.first_name %></h1>
      <% end %>
        <h4><%= "#{@user.country}" %></h4>
      <% if @reviews.present? %>
        <%= '<i class="fas fa-star"></i>'.html_safe * @rounded_average_of_ratings %><%= '<i class="far fa-star"></i>'.html_safe * (5-@rounded_average_of_ratings) %>
        <%= @average_of_ratings.round(1).to_f %>
      <% else %>

        <% if @user == current_user %>
          <p><em>You do not have any reviews yet</em></p>
        <% else %>
          <p><em>No reviews yet for <%= @user.first_name %></em></p>
        <% end %>

      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <% if @user == current_user %>
        <h2 class = "inline-h2">My Listings (<%= @user.listings.count %>)</h2>
      <% else %>
        <h2 class = "inline-h2"><%= @user.first_name %>'s Listings (<%= @user.listings.count %>)</h2>
      <% end %>

      <% if user_signed_in? && @user == current_user %>
          <%= link_to '+ Add a listing', new_listing_path, class:"btn btn-primary" %>
      <% end %>
      <button type="button" class="collapsible"><i class="fas fa-eye"></i></button>
      <div class="card-deck active-card">
        <% @user.listings.each do |listing| %>
          <%= render './shared/card', listing: listing %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-4">
    <div class="col-12">
      <% if @user == current_user %>
        <h2 class = "inline-h2">My Purchases (<%= @user.purchases.count %>)</h2>
        <button type="button" class="collapsible"><i class="fas fa-eye"></i></button>
        <div class="card-deck active-card">
          <% @user.purchases.each do |transaction|%>
            <%= render './shared/transaction_card', transaction: transaction %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row mt-5 mb-4">
    <div class="col-12">
      <% if @user == current_user %>
        <h2 class = "inline-h2">My wishlist (<%= @user.favourites.count %>)</h2>
        <button type="button" class="collapsible"><i class="fas fa-eye"></i></button>
        <div class="card-deck active-card">
          <% @user.favourites.each do |favourite|%>
            <%= render './shared/card', listing: favourite.listing %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <h2 class = "inline-h2">What others think (<%= @reviews.count %>)</h2>
      <button type="button" class="collapsible"><i class="fas fa-eye"></i></button>
      <div class="card-deck active-card">
        <% if @reviews.present? %>
          <% @reviews.each do |review|%>
            <%= render './shared/review_card', review: review %>
          <% end %>
        <% else %>
          <p><%= @user.first_name %> has no reviews yet.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- # if user is equal to current_user,
# we will show the users reviews, listings and transactions
# else we only show reviews and listings
 -->


  <!-- # if user is equal to current_user,
  # we will show the users reviews, listings and transactions
  # else we only show reviews and listings
  -->
