<div class="container">

  <div class="row mt-5 d-flex">
    <%= render 'user_profile' %>
  </div>

  <div class="row mt-5">
    <%= render 'user_listings' %>
  </div>

  <div class="row mb-4">
    <%= render 'user_purchases' %>
  </div>

  <div class="row mt-5 mb-4">
    <%= render 'user_wishlist' %>
  </div>

  <div class="row mt-5 mb-5">
    <%= render 'user_reviews' %>
  </div>
</div>

<!-- # if user is equal to current_user,
# we will show the users reviews, listings and transactions
# else we only show reviews and listings
 -->


  <!-- # if user is equal to current_user,
  # we will show the users reviews, listings and transactions
  # else we only show reviews and listings
  -->
