<div class="container min-vh-100">

  <div class="row mt-5 d-flex">
    <div class="col-sm-12 col-md-4">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, :width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"fill", class:'avatar-profile'%>
      <% else %>
        <i class="fas fa-user-circle fa-2x"></i>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4">
      <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
      <h4><%= "#{@user.country}" %></h4>
      <% sum = 0 %>
      <% if @user.reviews.empty? %>
        <h4>Rating: <%= sum %></h4>
      <% else %>
        <% @user.reviews.each do |review| %>
          <h4><%= (sum += review.rating).round(2) %></h4>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2>My Listings (<%= @user.listings.count %>)</h2>

        <div class="card-deck">
          <% @user.listings.each do |listing| %>
            <%= render './shared/card', listing: listing %>
          <% end %>
        </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2>My Purchases (<%= @user.transactions.count %>)</h2>
      <div class="card-deck">
        <% @user.transactions.each do |transaction|%>
          <%= render './shared/transaction_card', transaction: transaction %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<!-- # if user is equal to current_user,
# we will show the users reviews, listings and transactions
# else we only show reviews and listings
 -->


  <!-- # if user is equal to current_user,
  # we will show the users reviews, listings and transactions
  # else we only show reviews and listings
  -->
