<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<h4><%= "#{@user.country}" %></h4>

<!-- # if user is equal to current_user,
# we will show the users reviews, listings and transactions
# else we only show reviews and listings
 -->

<h2>My Purchases (<%= @user.transactions.count %>)</h2>

	<div class="cards-listing row d-flex justify-content-flex-start align-items-center">
		<% @user.transactions.each do |transaction|%>
			<div class="col-auto mb-3">
				<a href=<%= listing_path(transaction.listing) %>>
					<div class="card">
						<% if transaction.listing.photos.attached? %>
							<%= cl_image_tag transaction.listing.photos.first.key, class: "card-img", height:150, width:400, crop: :fill %>
						<% end %>
						<h3><%= transaction.listing.listing_name %></h3>
						<div class="card-img-overlay">
							<p><span><%= "£#{transaction.listing.price.round(2)}" %></span></p>
							</div>
						</a>
					<p><bold><%= transaction.listing.size %></bold></p>
				</div>
			</div>
		<% end %>
	</div>