    <div class="col-auto mb-3">
      <a class="card-link" href=<%= listing_path(listing) %>>
        <div class="card">
          <% if listing.photos.attached? %>
            <%= cl_image_tag listing.photos.first.key, class: "card-img", height:200, width:400, crop: :fill %>
          <% end %>
          <div class="card-img-overlay">
            <p><span><%= "Â£#{listing.price.round(2)}" %></span></p>
            <% if @top_listings.include? listing %>
              <p class ="hot-listing"><i class="fab fa-hotjar"></i></p>
            <% elsif listing.created_at.to_date == Date.today %>
              <p class ="new-listing">New</p>
            <% end %>
          </div>
          <div class="card-body">
            <div class="card-left">
              <h3><%= listing.listing_name %></h3>
              <h4><%= listing.condition %></h4>
            </div>    </a>
            <div class="card-right">
              <p><%= listing.size %></p>
              <% if listing.user != current_user %>
                <p>
                  <% if listing.favourites.find_by(user_id: current_user) %>
                    <%= link_to '<i class="fas fa-heart"></i>'.html_safe, favourite_path(listing.favourites.find_by(user_id: current_user)),
                                        method: :delete,
                                        class: "favourited-heart" %>
                  <% else %>
                    <%= simple_form_for([listing, @favourite]) do |f| %>
                      <%= f.submit "ðŸ¤", class: "favourite-btn" %>
                    <% end %>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
            <% if listing.user == current_user %>
              <div class="card-links">
                <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_listing_path(listing), class: "mr-2" %>
                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, listing_path(listing), class: "ml-2" ,
                                      method: :delete,
                                      data: { confirm: "Are you sure?" } %>
              </div>
            <% end %>
      </div>

    </div>
