<div class="col-auto mb-3">
  <a href=<%= listing_path(transaction.listing) %>>
		<div class="card">
			<% if transaction.listing.photos.attached? %>
				<%= cl_image_tag transaction.listing.photos.first.key, class: "card-img", height:150, width:400, crop: :fill %>
			<% end %>
			<h3><%= transaction.listing.listing_name %></h3>
			<div class="card-img-overlay">
				<p><span><%= "£#{transaction.listing.price.round(2)}" %></span></p>
			</div>
		</a>
		<p><bold><%= transaction.listing.size %></bold></p>
	</div>
</div>