<div class="col-auto mb-3">
  <a class="card-link" href=<%= listing_path(transaction.listing) %>>
		<div class="card ">
			<% if transaction.listing.photos.attached? %>
				<%= cl_image_tag transaction.listing.photos.first.key, class: "card-img", height:200, width:400, crop: :fill %>
			<% end %>
			<div class="card-img-overlay">
				<p><span><%= transaction.created_at.strftime("%d-%m-%Y") %></span></p>
			</div>
			    <div class="card-body">
            <div class="card-left">
              <h3><%= transaction.listing.listing_name %></h3>
              <h4><%= transaction.listing.condition %></h4>
            </div>
            <div class="card-right">
              <p><%= transaction.listing.size %></p>
              <p>🤍</p>
            </div>
          </div>
			<% if transaction.user == current_user %>
              <div class="card-links">
                <%= link_to "✏️ Write a review", new_purchase_review_path(transaction, @review) %>
			  </div>
			<% end %>
	   </div>
	</a>
</div>



